@charset "UTF-8";
body {
    background-color: rgb(236, 242, 121);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}

h1 {
    color: maroon;
    background-color: rgb(255, 255, 255);
}

h2 {
    color: rgb(226, 43, 58);
}

p {
    text-align: justify;
}